#contact {
	padding: 80px;
	background-color: #28536c;
	color: #fff;
}
#contact p, h1 {
	text-align: center;
}
#contact .btn-secondary {
	background-color: white;
	color: black;
	padding: 6px 40px;
	margin: 10px;
	border: 1px solid #fff;
	border-radius: 0;
	transition: 1s;
}
#contact .btn-secondary:hover {
	color: #fff;
	background-color: #081F3D;
	transition: 1s;
}